<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">


</head>

<h1 align="center">Meetings Data</h1>

<div class="container">
    <div class="modal fade" id="empModel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3> Edit Employee </h3>
                    <span class="close" data-dismiss="modal">&times;</span>
                </div>
                <div class="modal-body">
                    <form #regForm="ngForm">
                        <input type="text" placeholder="Meeting Name" name="meetingName" [(ngModel)]="editMeeting.meetingName" />
                        <br />
                        <select name="facilitator" class="form-group" ngModel>
                            <option value="" selected>Select A Facilitator</option>
                            <option value= {{fac.name}} *ngFor="let fac of meetingService.facilitators"> {{fac.name}}
                            </option>
                        </select><br/>

                    </form>
                </div>
                <div class="modal-footer">
                    <button *ngIf=createFlag (click)="updateMeeting(editMeeting)" class="btn btn-primary btn-sm" data-dismiss="modal">Create
                        Meeting</button>
                    <button *ngIf=editFlag (click)="updateMeeting(editMeeting)" class="btn btn-primary btn-sm" data-dismiss="modal">Update
                        Meeting</button>
                </div>
            </div>
        </div>
    </div>

    <div align="center">
        <button (click)="newMeeting()" class="btn btn-primary">Create Member</button>
    </div>


    <table class="table table-bordered table-striped table-hover table-sm">
        <thead>
            <tr class="bg-info text-white" align="center">
                <!-- <th>MeetingId</th> -->
                <th> MeetingName</th>
                <th>facilitator</th>
                <!-- <th>startDateAndTime</th>
                <th>endDateAndTime</th> -->


                <th> Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let meeting of meetings' align='center'>
                <!-- <td>{{meeting.meetingId}}</td> -->
                <td>{{meeting.meetingName | uppercase}}</td>
                <td>{{meeting.facilitator.name | uppercase}}</td>
                <!-- <td>{{meeting.startDateAndTime }}</td>
                <td>{{meeting.endDateAndTime | uppercase}}</td> -->



                <td><button (click)="ShowEditPopup(meeting)">
                        <div class="glyphicon glyphicon-pencil"></div>
                    </button></td>
                <td><button (click)="deleteMeeting(meeting)">
                        <div class="glyphicon glyphicon-trash"></div>
                    </button></td>


            </tr>
        </tbody>
    </table>
</div>