<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">


</head>

<h1 align="center">Meetings Data</h1>

<div class="container">
    <div class="modal fade" id="empModel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3> Edit Employee </h3>
                    <span class="close" data-dismiss="modal">&times;</span>
                </div>
                <div class="modal-body">
                    <form #regForm="ngForm">
                        <!-- <input type="number" placeholder="empId" name="empId" [(ngModel)]="editMember.empId" /> <br /> -->
                        <input type="text" placeholder="Meeting Name" name="name" [(ngModel)]="editMeeting.name" />
                        <br />
                        <input type="text" placeholder="Meeting facilitator" name="facilitator" [(ngModel)]="editMeeting.facilitator" />
                        <br />

                        <!-- <input type="text" placeholder="organisation" name="organizationName" [(ngModel)]="editMember.organizationName" /> <br />
                        <input type="text" placeholder="mailId" name="mailId" [(ngModel)]="editMember.mailId" /> <br />
                        <input type="text" placeholder="mobileNo" name="mobileNo" [(ngModel)]="editMember.mobileNo" /> <br />
                        <input type="text" placeholder="role" name="role" [(ngModel)]="editMember.role" /> <br />
                        <input type="text" placeholder="address" name="address" [(ngModel)]="editMember.address" /> <br />
                        <input type="text" placeholder="gender" name="gender" [(ngModel)]="editMember.gender" /> <br />
                        <input type="text" placeholder="loginId" name="loginId" [(ngModel)]="editMember.loginId" /> <br />
                        <input type="password" placeholder="password" name="password" [(ngModel)]="editMember.password" /> <br /> -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button *ngIf=createFlag (click)="updateMeeting(editMeeting)" class="btn btn-primary btn-sm" data-dismiss="modal">Create
                        Meeting</button>
                    <button *ngIf=editFlag (click)="updateMeeting(editMeeting)" class="btn btn-primary btn-sm" data-dismiss="modal">Update
                        Meeting</button>
                </div>
            </div>
        </div>
    </div>

    <div align="center">
        <button (click)="newMeeting()" class="btn btn-primary">Create Member</button>
    </div>


    <table class="table table-bordered table-striped table-hover table-sm">
        <thead>
            <tr class="bg-info text-white" align="center">
                <!-- <th>MeetingId</th> -->
                <th> MeetingName</th>
                <th>facilitator</th>
                <!-- <th>startDateAndTime</th>
                <th>endDateAndTime</th> -->


                <th> Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let meeting of meetings' align='center'>
                <!-- <td>{{meeting.meetingId}}</td> -->
                <td>{{meeting.name | uppercase}}</td>
                <td>{{meeting.facilitator | uppercase}}</td>
                <!-- <td>{{meeting.startDateAndTime }}</td>
                <td>{{meeting.endDateAndTime | uppercase}}</td> -->



                <td><button (click)="ShowEditPopup(meeting)">
                        <div class="glyphicon glyphicon-pencil"></div>
                    </button></td>
                <td><button (click)="deleteMeeting(meeting)">
                        <div class="glyphicon glyphicon-trash"></div>
                    </button></td>


            </tr>
        </tbody>
    </table>
</div>