<table align="center" border="2">
    <thead>
        <th rowspan="2">
            Name
        </th>
        <th>
            MoM SubHeading and points
        </th>
        <th>
            MoM Points
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let heading of meeting.headings">
            <td> {{heading.value}}</td>
            <!-- <td>
                <ul *ngFor="let subheading of heading.subHeadings">
                    <li>{{subheading.value}}</li>
                    <span>
                        <ul *ngFor="let point of subheading.points">
                            <li>{{point.info}}</li>
                        </ul>
                    </span>
                </ul>
            </td> -->
            <td rowspan="heading.subHeadings.length">
                <table class="heading-table" border="1">
                    <tbody>
                        <tr *ngFor="let subheading of heading.subHeadings">
                            <td>{{subheading.value}}</td>
                            <td>
                                <table class="heading-table" border="1">
                                    <tbody>
                                        <tr *ngFor="let point of subheading.points">
                                            <td>{{point.info}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table class="heading-table" border="1">
                    <tbody>
                        <tr *ngFor="let subheading of heading.subHeadings">
                            <!-- <td>{{subheading.value}}</td> -->
                            <!-- <td>subheading</td> -->
                            <td>
                                <table class="heading-table" border="1">
                                    <tbody>
                                        <tr *ngFor="let point of subheading.points">
                                            <td>{{point.info}}</td>
                                            <!-- <td>subheading</td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <!-- <td>
                <ul *ngFor="let subheading of heading.subHeadings">
                    <li>{{subheading.value}}</li>
                    <span>
                        <ul *ngFor="let point of subheading.points">
                            <li>{{point.info}}</li>
                        </ul>
                    </span>
                </ul>

            </td> -->

        </tr>

    </tbody>
</table>
<hr>

<span *ngFor="let heading of meeting.headings">
    <h1> {{heading.value}}</h1>
    <ul *ngFor="let subheading of heading.subHeadings">
        <li>{{subheading.value}}</li>
        <span>
            <ul *ngFor="let point of subheading.points">
                <li>{{point.info}}</li>
            </ul>
        </span>
</ul>

</span>