<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->



        <form #regForm="ngForm" class="form-group" (ngSubmit)="registerForm(regForm.value)">
            <input type="text" class="form-group" placeholder="Name" name="name" ngModel /> <br />
            <input type="text" class="form-group" placeholder="Organazation" name="organizationName" ngModel /> <br />
            <input type="text" class="form-group" placeholder="MobileNumber" name="mobileNo" ngModel /> <br />
            <input type="text" class="form-group" placeholder="Address" name="address" ngModel /> <br />
            <select name="role" class="form-group" ngModel>
                <option value="" selected>Select A Role</option>
                <option value={{role}} *ngFor="let role of userRoles"> {{role}}
                </option>
            </select><br/>
            <input type="text" class="form-group" placeholder="Gender" name="gender" ngModel /> <br />
            <input type="text" class="form-group" placeholder="loginId" name="loginId" ngModel /> <br />
            <input type="password" class="form-group" placeholder="password" name="password" ngModel /> <br />

            <input type="text" class="form-group" placeholder="OrgDomain" name="organizationDomain" ngModel /> <br />
            <input type="text" class="form-group" placeholder="OrgMobileNumber" name="organizationMobileNo" ngModel /> <br />
            <input type="text" class="form-group" placeholder="OrgAddress" name="organizationAddress" ngModel /> <br />



            <button class="btn btn-primary">Register</button>
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <div class="alert-success invalidMsg">{{ registerSuccessMsg }}</div>
        </div>


    </div>
</div>