<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<h1>{{subHeadService.subHeading.value}}</h1>
<table class="table table-bordered table-striped table-hover table-sm">
    <thead>
        <tr class="bg-info text-white" align="center">
            <!-- <th>MeetingId</th> -->
            <th> Sub Heading Value</th>
            <!-- <th>facilitator</th> -->
            <!-- <th>Edit Points</th> -->
            <!-- <th>View Minutes</th> -->
            <!-- <th>startDateAndTime</th>
            <th>endDateAndTime</th> -->


            <th> Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let point of subHeadService.subHeading.points">
            <td>{{point.info}}</td>
            <!-- <td><button (click)="editPoints(subHeading)" class=" btn btn-info btn-lg">
                <div class="glyphicon glyphicon-th-list"></div>
            </button></td> -->
            <td><button>
                    <div class="glyphicon glyphicon-pencil"></div>
                </button></td>
            <td><button>
                    <div class="glyphicon glyphicon-trash"></div>
                </button></td>
        </tr>
    </tbody>
</table>