<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<h1 align="center">
    Members Data</h1>

<div align="center">
    <select name="organizationId" class="form-group" ngModel>
        <option value={{organization.id}} *ngFor="let organization of organizations"> {{organization.organizationName}}
        </option>
    </select>

    <button (click)="getEmpById(organizationId)" class="btn btn-primary">Show Members</button>
</div>

<div class="container">
    <table class="table table-bordered table-striped table-hover table-sm">
        <thead>
            <tr class="bg-info text-white" align="center">
                <th>MemberId</th>
                <th> MemberName</th>
                <th> organisation</th>
                <th> mailId</th>
                <th> mobileNo</th>
                <th> role</th>
                <th> address</th>
                <th> gender</th>
                <!-- <th> LoginId</th>
                <th> Password</th> -->
                <th> Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let member of members' align='center'>
                <td>{{member.memberId}}</td>
                <td>{{member.name | uppercase}}</td>
                <td>{{member.organisation}}</td>
                <td>{{member.mailId |lowercase}}</td>
                <td>{{member.mobileNo}}</td>
                <td>{{member.role}}</td>
                <td>{{member.address |uppercase}}</td>
                <td>{{member.gender |uppercase }}</td>
                <!-- <td>{{member.loginId }}</td>
                <td>{{member.password}}</td> -->


                <td>
                    <!-- <a href=""> -->
                    <button (click)="showEditPop()">
                        <div class="glyphicon glyphicon-pencil"></div>
                    </button>
                    <!-- </a> -->
                </td>
                <td>
                    <!-- <a href=""> -->
                    <button (click)="showEditPop()">
                        <div class="glyphicon glyphicon-trash"></div>
                    </button>
                    <!-- </a> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>