<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->



        <form #regForm="ngForm" class="form-group" (ngSubmit)="registerForm(regForm.value)">
            <!-- <input type="number" class="form-group" placeholder="empId"    name="empId"    ngModel /> <br/> -->
            <input type="text" class="form-group" placeholder="Name" name="name" ngModel /> <br />
            <input type="text" class="form-group" placeholder="Organazation" name="organizationName" ngModel /> <br />
            <input type="text" class="form-group" placeholder="MobileNumber" name="mobileNo" ngModel /> <br />
            <input type="text" class="form-group" placeholder="Address" name="address" ngModel /> <br />
            <input type="text" class="form-group" placeholder="Role" name="role" ngModel /> <br />
            <input type="text" class="form-group" placeholder="Gender" name="gender" ngModel /> <br />
            <input type="text" class="form-group" placeholder="loginId" name="loginId" ngModel /> <br />
            <input type="password" class="form-group" placeholder="password" name="password" ngModel /> <br />

            <input type="text" class="form-group" placeholder="OrgDomain" name="organizationDomain" ngModel /> <br />
            <input type="text" class="form-group" placeholder="OrgMobileNumber" name="organizationMobileNo" ngModel /> <br />
            <input type="text" class="form-group" placeholder="OrgAddress" name="organizationAddress" ngModel /> <br />
            <!-- <input type="text" class="form-group" placeholder="OrgMembers" name="OrgMembers" ngModel /> <br/>
            <input type="text" class="form-group" placeholder="OrgMeetings" name="OrgMeetings" ngModel /> <br/> -->




            <button class="btn btn-primary">Register</button>
        </form>



    </div>
</div>