<!-- <head>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head> -->
<!-- Start Categories of The Month -->
<section class="container py-5" align="center">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Prepare your minutes of Meeting in minutes</h1>
            <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>

</section>
<!-- End Categories of The Month -->


<!-- Start Featured Product -->
<section class="bg-light" align="center">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Manage who can edit the MoM</h1>
                <p>
                    Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                </p>
            </div>
        </div>

    </div>
</section>
<!-- End Featured Product -->



<!-- Start Featured Product -->
<section class="bg-info" align="center">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Manage meetings and members at your flexibility</h1>
                <p>
                    Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                </p>
            </div>
        </div>

    </div>
</section>
<!-- End Featured Product -->